{% extends 'base.html' %}
{% block headertitle %}
<div class="text-light">
    Rider: {{ riders.first_name}} {{ riders.last_name }}
    <br>
    Cap: {{riders.cap_number}}
</div>
{% endblock %}
{% block content %}

    <!--status headers-->
    <!--todo: reduce gutter size-->
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-4 my-auto">Status:</div>
            <div class="col my-auto"><b>{{ riders.race_status }}</b></div>
        </div>
        <div class="row my-2">
            <div class="col-4 my-auto">Current tracker:</div>
            {% if riders.current_tracker %}
                <div class="col my-auto">
                    <a href="{{ riders.current_tracker.url }}">
                        {{ riders.current_tracker }}
                    </a>
                </div>
                <div class="col my-auto" style="color: grey; font-size: 80%; text-align: right">
                    <!--todo: replace with assignment/possession event date-->
                    June 20, 2019
                </div>
            {% else %}
                <div class="col my-auto">
                    None
                </div>
            {% endif %}
        </div>
    </div>

    <!--Event buttons-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <!--todo: add race status / checkpoint form and url-->
                <a href="#">
                    <button type="button" class="btn btn-secondary btn-block text-nowrap">Add race event</button>
                </a>
            </div>
            <div class="col my-2">
                <a href="{{ riders.url_add_notes }}">
                    <button type="button" class="btn btn-secondary btn-block text-nowrap">Add note</button>
                </a>
            </div>
            <div class="col my-2">
                <a href="{{ riders.url_assign_tracker }}">
                    <!--todo: show only buttons for actions that are relevant to the context-->
                   <button type="button" class="btn btn-secondary btn-block text-nowrap">Assign/Deassign</button>
                </a>
            </div>
            <div class="col my-2">
                <a href="{{ riders.url_possess_tracker }}">
                   <button type="button" class="btn btn-secondary btn-block text-nowrap">Give/Retrieve</button>
                </a>
            </div>
        </div>
    </div>

    <!--Notes list-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Notes</h5>
            </div>
        </div>
        <ul class="list-group">
            {% if not riders.all_notes %}
                <li class="list-group-item">
                    <div>
                        There are no notes for this rider.
                    </div>
                </li>
            {% else %}
                {% for note in riders.all_notes reversed %}
                    <li class="list-group-item">
                        <div style="color: grey; font-style: italic">
                             {{ note.created }}
                        </div>
                        <div>
                            {% if note.event %}
                                <b>(Event: {{ note.event.event_type }})</b>
                            {% endif %}
                            {{ note.notes }}
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <!--Events log-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Events</h5>
            </div>
        </div>
        {% if not riders.all_events %}
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        There are no events for this rider.
                    </div>
                </li>
            </ul>
        {% else %}
            <table class="table table-hover table-responsive-xs">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Event</th>
                    <th scope="col">User</th>
                </tr>
                </thead>
                <tbody>
                <!--todo: replace with for-loop-->
                {% for event in riders.all_events reversed %}
                    <tr>
                        <td>
                            {{event.created}}
                        </td>
                        <td>
                            {{event.event_type}}
                        </td>
                        <td>
                            {{event.user}}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <!--Rider info table-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Rider info</h5>
            </div>
            <div class="col my-2 mr-1" style="text-align: right">
                <a href="{{ riders.url_edit }}"  style="font-size: 120%">
                    <i class="fa fa-pen"></i>
                </a>
            </div>
        </div>
        <table class="table table-hover">
            <tbody>
            <tr>
                {% for field, value in rider_dict.items %}
                    {% if field != "_state" %}
                        <td>
                            {{ field }}
                        </td>
                        <td style="font-style: italic">
                            {{ value }}
                        </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
