{% extends 'tracker/base.html' %}
{% block content %}

    <!--status headers-->
    <!--todo: reduce gutter size-->
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col my-auto">Status:</div>
            <div class="col my-auto"><b>{{ trackers.working_status }}</b></div>
            <div class="col my-auto" style="color: grey; font-size: 80%; text-align: right">Last test: {{ trackers.last_test_date }}</div>
        </div>
        <div class="row my-2">
            <div class="col my-auto">Assignment:</div>
            <div class="col my-auto">
                {% if trackers.rider_assigned %}
                    <a href="{{ trackers.rider_assigned.url }}">
                        {{ trackers.rider_assigned }}
                    </a>
                {% else %}
                    No rider assigned to this tracker
                {% endif %}
            </div>
            <div class="col my-auto"
                 style="color: grey; font-size: 80%; text-align: right">
                12/06/2019 12:01
            </div>
        </div>
        <div class="row my-2">
            <div class="col my-auto">Location:</div>
            <div class="col my-auto">
                {% if trackers.rider_assigned %}
                    <a href="{{ trackers.rider_possess.url }}">
                        {{ trackers.rider_possess }}
                    </a>
                {% else %}
                    No rider in possession of this tracker
                {% endif %}
            </div>
            <!-- todo: replace with event date-->
            <div class="col my-auto"
                 style="color: grey; font-size: 80%; text-align: right">
                12/06/2019 12:01
            </div>
        </div>
    </div>

    <!--Event buttons-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <a href="#">
                    <!--todo: disable or enable based on user permissions-->
                    <button type="button" class="btn btn-secondary btn-block text-nowrap">Record test</button>
                </a>
            </div>
            <div class="col my-2">
                <a href="{{ trackers.url_assign_tracker }}">
                    <!--todo: disable or enable based on user permissions-->
                    <button type="button" class="btn btn-secondary btn-block text-nowrap">Assignment</button>
                </a>
            </div>
            <div class="col my-2">
                <a href="{{ trackers.url_possess_tracker }}">
                   <button type="button" class="btn btn-secondary btn-block text-nowrap">Possession</button>
                </a>
           </div>
        </div>
    </div>

    <!--Notes list-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Notes</h5>
            </div>
        </div>
        <ul class="list-group">
            {% for note in trackers.all_notes %}
            <li class="list-group-item">
                <div style="color: grey; font-style: italic">
                     {{ note.created }}
                </div>
                <div>
                    {% if note.event %}
                        {{ note.event }}
                    {% else %}
                        n/a
                    {% endif %}
                    {{ note.notes }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!--Events log-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Events</h5>
            </div>
        </div>
        <table class="table table-hover table-responsive-xs">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
                <th scope="col">User</th>
            </tr>
            </thead>
            <tbody>
            <!--todo: replace with for-loop-->
            {% for event in trackers.all_events %}
                <tr>
                    <td>
			    {{event.created}}
                    </td>
                    <td>
			    {{event.event_type}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!--Tracker info table-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Tracker info
                    <a href="{{ trackers.url_edit }}">
                        <i class="fa fa-pen"></i>
                    </a>
                </h5>
            </div>
        </div>
        <table class="table table-hover">
            <tbody>
            <tr>
                {% for field, value in tracker_dict.items %}
                    <td>
                        {{ field }}
                    </td>
                    <td style="font-style: italic">
                        {{ value }}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
