{% extends 'tracker/base.html' %}
{% block content %}
    <nav class=" navbar-expand-lg navbar-light bg-light my-3 py-1">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search"
                           placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        Search
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <button type="button"
                            class="btn btn-secondary btn-block">Assignable
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <button type="button"
                            class="btn btn-secondary btn-block">Assignable
                    </button>
                </a>
            </li>
        </ul>
        </div>
    </nav>
    <div class="row justify-content-center">
            {% for tracker in trackers_list %}
                <div class="card mx-2 mb-3" style="width: 18rem" id="tid-{{ tracker.id }}">
                    <div class="card-body">
                        <h5 class="card-title">ID: {{ tracker.id }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ESN: {{ tracker.esn_number }}</li>
                        <li class="list-group-item">Last Test Date: {{ tracker.last_test_date }}</li>
                    </ul>
                    <div class="card-body justify-content-center">
                        <a href="#" class="">
                            <button type="button" class="my-1 btn btn-primary">
                                Record changes
                            </button>
                        </a>
                        <a href="#" class="">
                            <button type="button" class="my-1 btn btn-primary">
                                Go to rider
                            </button>
                        </a>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}
