{% extends 'base.html' %}
{% block content %}

<!--Tracker search and tag bar-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <a href="#">
                    <button type="button"
                            class="btn btn-outline-secondary btn-block"
                            data-toggle="button"
                            id="working"
                            onclick="toggleFilters(this)">
                                Working
                    </button>
                </a>
            </div>
            <div class="col my-2">
                <a href="#">
                    <button type="button"
                            class="btn btn-outline-secondary btn-block"
                            data-toggle="button"
                            id="assignable"
                            onclick="toggleFilters(this)">
                                Assignable
                    </button>
                </a>
            </div>

        </div>
    </div>

<!--main content-->

<!--New table layout-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Trackers</h5>
            </div>
        </div>
        <table class="table table-hover table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">TCR ID</th>
              <th scope="col">Status</th>
              <th scope="col">Assignment</th>
                <th scope="col">Possession</th>
              <th scope="col">Assignable</th>
              <!--<th scope="col" class="d-none d-sm-table-cell">Assignable</th>-->
            </tr>
          </thead>
          <tbody>
            {% for tracker in tracker_list %}
                <tr class="filterable{% if not tracker.assignable %} assignable{% endif %}{% if tracker.working_status != 'working' %} working{% endif %}">
                  <td><a href={{ tracker.url }}>{{ tracker.tcr_id }}</a></td>
                  <td>
                      <div>{{ tracker.working_status }}</div>
                      <div style="font-size: 80%">{{ tracker.last_test_date }}</div>
                  </td>
                  <td>
                      {% if tracker.rider_assigned %}
                        <div><a href={{ tracker.rider_url }}>
                            {{ tracker.rider_assigned.cap_number }}<br>
                            {{ tracker.rider_assigned.full_name }}
                        </a></div>
                      {% endif %}
                  </td>
                    <td>
                        {% if tracker.rider_possesed %}
                            <div>With rider</div>
                        {% endif %}
                    </td>
                  <!--<td class="d-none d-sm-table-cell">-->
                  <td>
                      {% if tracker.assignable %}
                        Yes
                      {% else %}
                        No
                      {% endif %}
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

<script type="text/javascript">
    function isActive(buttonId) {
        var buttonState = false;
        var buttonClass = document.getElementById(buttonId).className;
        if ( buttonClass.includes("active") ) {
            buttonState = true;
        }
        return buttonState;
    }

    function toggleFilters(clickedButton) {
        var buttons = document.getElementsByClassName('btn-outline-secondary');
        var activeStates = [];

        for (i = 0; i < buttons.length; i++) {
            var buttonId = buttons[i].id;
            if ( buttonId == clickedButton.id && isActive(buttonId) == false ) {
                activeStates.push(buttonId);
            } else if ( buttonId != clickedButton.id && isActive(buttonId) == true ) {
                activeStates.push(buttonId);
            }
        }

        var rows = document.getElementsByClassName("filterable");
        for (i = 0; i < rows.length; i++) {
            var rowClass = rows[i].className;
            rows[i].style.display = "";
            for (j = 0; j < activeStates.length; j++) {
                if ( rowClass.includes(activeStates[j]) ) {
                    rows[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock %}
