{% extends 'base.html' %}
{% block content %}

    <!--status headers-->
    <!--todo: reduce gutter size-->
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-5 my-auto">Status:</div>
            <div class="col my-auto"><b>{{ tracker.test_status }}</b></div>
            <div class="col my-auto" style="color: grey; font-size: 80%; text-align: right">{{ tracker.last_test_date }}</div>
        </div>
        <div class="row my-2">
            <div class="col-5 my-auto">Possession:</div>
            {% if tracker.rider_possesed %}
                <div class="col my-auto">
                    <a href="{{ tracker.rider_possesed.url }}">
                        #{{ tracker.rider_possesed }} {{ tracker.rider_possesed.full_name }}
                    </a>
                </div>
            {% else %}
                <div class="col my-auto">
                    N/A
                </div>
            {% endif %}
        </div>
        {% if user.profile.is_tcr_staff %}
            <div class="row my-2">
                <div class="col-5 my-auto">Assignment:</div>
                {% if tracker.rider_assigned %}
                    <div class="col my-auto">
                        <a href="{{ tracker.rider_assigned.url }}">
                            #{{ tracker.rider_assigned }} {{ tracker.rider_assigned.full_name }}
                        </a>
                    </div>
                {% else %}
                    <div class="col my-auto">
                        N/A
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="row my-2">
            <div class="col-5 my-auto">Assignable:</div>
            <div class="col my-auto">{% if tracker.assignable %}Yes{% else %}No{% endif %}</div>
        </div>
    </div>

    <!--Event buttons-->
    <div class="container-fluid my-2">
        <div class="row">
            {% for button in tracker.get_buttons.values %}
                {% if button.display and not button.staff_only %}
                        <div class="col my-2">
                            <a href={{ button.url }}>
                                <button type="button" class="btn btn-secondary btn-block text-nowrap">{{ button.label }}</button>
                            </a>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if user.profile.is_tcr_staff %}
            <div class="row my-2">
                <div class="col my-auto">
                    <b>Staff only buttons:</b>
                </div>
            </div>
            <div class="row">
                {% for button in tracker.get_buttons.values %}
                    {% if button.display and button.staff_only %}
                            <div class="col my-2">
                                <a href={{ button.url }}>
                                    <button type="button" class="btn btn-info btn-block text-nowrap">{{ button.label }}</button>
                                </a>
                            </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!--Events and notes list-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Events and notes</h5>
            </div>
        </div>
        <ul class="list-group">
            {% if not tracker.all_events %}
                <li class="list-group-item">
                    <div>
                        There are no events or notes for this tracker.
                    </div>
                </li>
            {% else %}
                {% for event in tracker.all_events %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <div style="color: grey; font-style: italic">
                                     {{ event.created }}
                                </div>
                                {% if event.event_type != "add_note" %}
                                    <div><b>{{ event.event_type }}</b></div>
                                {% endif %}
                                {% if event.rider %}
                                    <div>
                                        <a href="{{ event.rider.url }}">
                                            ({{ event.rider.full_name }} / #{{ event.rider.cap_number }})
                                        </a>
                                    </div>
                                {% endif %}
                                {% if event.notes %}
                                    <div>
                                        {% if event.input_by %} {{ event.input_by }}: {% endif %}
                                        {{ event.notes }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <!--Tracker info table-->
    {% if user.profile.is_tcr_staff %}
        <div class="container-fluid my-2">
            <div class="row">
                <div class="col my-2">
                    <h5>Tracker info</h5>
                </div>
                <div class="col my-2 mr-1" style="text-align: right">
                    <a href="{{ tracker.url_edit }}"  style="font-size: 120%">
                        <i class="fa fa-pen"></i>
                    </a>
                </div>
            </div>
            <table class="table table-hover">
                <tbody>
                <tr>
                    {% for field, value in tracker_dict.items %}
                        {% if field != "_state" and field != "id" %}
                            <td>
                                {{ field }}
                            </td>
                            <td style="font-style: italic">
                                {{ value }}
                            </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
