{% extends 'tracker/base.html' %}
{% block content %}

    <!--status headers-->
    <!--todo: reduce gutter size-->
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col my-auto">Status:</div>
            <div class="col my-auto"><b>{{ trackers.working_status }}</b></div>
            <div class="col my-auto" style="color: grey; font-size: 80%; text-align: right">{{ trackers.last_test_date }}</div>
        </div>
        <div class="row my-2">
            <div class="col my-auto">Location:</div>
            <div class="col my-auto"><a href="#">{{ trackers.rider_possess }}</a></div>
            <!-- todo: replace with event date-->
            <div class="col my-auto" style="color: grey; font-size: 80%; text-align: right">12/06/2019 12:01</div>
        </div>
    </div>

    <!--Event buttons-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <a href="#">
                    <!--todo: disable or enable based on user permissions-->
                    <button type="button" class="btn btn-secondary btn-block text-nowrap">Record test</button>
                </a>
            </div>
            <div class="col my-2">
                <a href="#">
                    <!--todo: disable or enable based on user permissions-->
                    <button type="button" class="btn btn-secondary btn-block text-nowrap">Assign</button>
                </a>
            </div>
            <div class="col my-2">
                <a href="#">
                   <button type="button" class="btn btn-secondary btn-block text-nowrap">Retrieve</button>
                </a>
           </div>
        </div>
    </div>

    <!--Notes list-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Notes</h5>
            </div>
        </div>
        <ul class="list-group">
            <!--todo: replace with for-loop-->
            <li class="list-group-item">
                <div style="color: grey; font-style: italic">
                    <!--todo: replace with date and user-->
                    14/06/2019 15:39 - Anna Haslock
                </div>
                <div>
                    <!--todo: replace with event info and notes-->
                    (Retrieval: Rider - Ben Kirby) Slightly damaged housing
                </div>
            </li>
            <li class="list-group-item">
                <div style="color: grey; font-style: italic">
                    02/06/2019 10:17 - Rory Kemper
                </div>
                <div>
                    (Note) Dropped it, cracked the casing
                </div>
            </li>
        </ul>
    </div>

    <!--Events log-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Events</h5>
            </div>
        </div>
        <table class="table table-hover table-responsive-xs">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
                <th scope="col">User</th>
            </tr>
            </thead>
            <tbody>
            <!--todo: replace with for-loop-->
            {% for event in tracker.events %}
                <tr>
                    <td>
			    {{event.created}}
                    </td>
                    <td>
			    {{event.event_type}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!--Tracker info table-->
    <div class="container-fluid my-2">
        <div class="row">
            <div class="col my-2">
                <h5>Tracker info <i class="fa fa-pen"></i></h5>
            </div>
        </div>
        <table class="table table-hover">
            <tbody>
            <tr>
                {% for field, value in tracker_dict.items %}
                    <td>
                        {{ field }}
                    </td>
                    <td style="font-style: italic">
                        {{ value }}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
