{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Track the thing">
  <meta name="author" content="">
  <title>Track the thing</title>
  <link href="{% static 'css/fa.css' %}" rel="stylesheet" type="text/css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href='{% static "css/sb-admin.css" %}' rel="stylesheet">
    <link href='{% static "css/stylesheet.css" %}' rel="stylesheet">

</head>

<body id="page-top">

  <!-- Sticky Footer -->
  <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark nav-justified shadow-lg bg-white rounded">
  <!--<nav class="navbar fixed-top navbar-expand-sm navbar-dark nav-justified shadow-lg bg-white rounded" style="padding-top: 60px;">-->
    <!--Replace with consistent link to tracker_list.html at all points-->
      <a class="nav-item nav-link" style="{% if active_tab != 'trackers' %} color: slategray {% endif %}" href="{% url 'all_trackers' %}">
          <div>
            <i class="fa fa-satellite"></i>
          </div>
          <div>Trackers</div>
      </a>
      <a class="nav-item nav-link" style="{% if active_tab != 'riders' %} color: slategray {% endif %}" href="{% url 'all_riders' %}">
          <div>
            <i class="fa fa-bicycle"></i>
          </div>
          <div>Riders</div>
      </a>
  {% if user.is_superuser %}
      <a class="nav-item nav-link" style="{% if active_tab != 'cp_order' %} color: slategray {% endif %}" href="{% url 'cp_order' %}">
          <div>
            <i class="fa fa-flag-checkered"></i>
          </div>
          <div>CP Order</div>
      </a>
      {% endif %}
  {% if user.profile.is_staff %} }
      <a class="nav-item nav-link" style="{% if active_tab != 'events' %} color: slategray {% endif %}" href="{% url 'all_events' %}">
          <div>
              <i class="fa fa-flag-checkered"></i>
          </div>
          <div>Events</div>
      </a>
  {% endif %}
  </nav>
  <!--/footer-->

<!--Header bar-->
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top shadow-sm">
      <!-- Navbar -->
      <ul class="navbar-nav container-fluid">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'record_issue' %}" role="button">
                <i class="fas fa-exclamation-circle fa-fw"></i> track3r issue
            </a>
        </li>

        <li class="navbar-brand mr-0 justify-content-center">{{ page_title }}</li>

        <li class="nav-item dropdown no-arrow  justify-content-end">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>
    </nav>

<!--Main content-->
  <div id="wrapper" style="padding-top: 60px;">

    <div id="content-wrapper" class="container px-0">
      <div class="container-fluid">
          {% if 'track3r' not in request.META.HTTP_HOST %}
              <div class="row bg-danger justify-content-center h-100">***</div>
              <div class="row bg-danger justify-content-center h-100">
                  DEMO ENVIRONMENT - THIS IS NOT THE REAL THING</div>
              <div class="row bg-danger justify-content-center h-100">***</div>
          {% endif %}
      </div>

      <div class="container-fluid" style="font-size: 80%">
{% block ting %}
    {% load tz %}

    {% timezone "Europe/Paris" %}
        {% block content %}

        {% endblock %}
    {% endtimezone %}
{% endblock %}
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/accounts/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src='{% static "js/jquery/jquery.min.js" %}'></script>
  <script src='{% static "js/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'js/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src='{% static "js/sb-admin.js" %}'></script>


</body>

</html>
