{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Track the thing">
  <meta name="author" content="">

  <title>Track the thing</title>
  <link href="{% static 'css/fa.css' %}" rel="stylesheet" type="text/css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href='{% static "css/sb-admin.css" %}' rel="stylesheet">
    <link href='{% static "css/stylesheet.css" %}' rel="stylesheet">

</head>

<body id="page-top">

<!--Header bar-->
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top shadow-sm">
      <!-- Navbar -->
      <ul class="navbar-nav container-fluid">
        <!--blank div same size as user icon on the right, to properly centre the title-->
        <li class="nav-item" style="width: 36px"></li>
        <li class="navbar-brand mr-0 justify-content-center">{{ page_title }}</li>
        <li class="nav-item dropdown no-arrow  justify-content-end">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
<!--Main content-->
  <div id="wrapper" style="padding-top: 60px;">

    <div id="content-wrapper">

      <div class="container-fluid" style="font-size: 80%">

        {% block content %}

        {% endblock %}
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Sticky Footer -->
  <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark nav-justified shadow-lg bg-white rounded">
    <!--Replace with consistent link to trackers_list.html at all points-->
    <a class="nav-item nav-link active" href="http://127.0.0.1:8000/trackers/">
      <div>
        <i class="fa fa-satellite"></i>
      </div>
      <div>Trackers</div>
    </a>
    <!--todo: Replace with consistent link to riders_list.html at all points-->
    <a class="nav-item nav-link" href="http://127.0.0.1:8000/riders/">
      <div>
        <i class="fa fa-bicycle"></i>
      </div>
      <div>Riders</div>
    </a>
    <!--todo: add Race to navbar when developed-->
    <!--<a class="nav-item nav-link disabled" href="#">Disabled</a>-->
  </nav>
  <!--/footer-->

  <!-- Bootstrap core JavaScript-->
  <script src='{% static "js/jquery/jquery.min.js" %}'></script>
  <script src='{% static "js/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'js/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src='{% static "js/sb-admin.js" %}'></script>


</body>

</html>
